*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1380px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*HEADER styles*/
.header {
    margin: 0 auto;
    width: 100%;
    background-color: #ccc;
}

.header__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 4em;
    font-size: 3.2rem;
    text-align: center;
}

.header__text {
    padding: 0 2em 1em;
    font-size: 2.4rem;
    text-align: center;
}

/*INFO styles*/
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f0ff55;
    border: 1px solid darkgreen;
}

.info__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info__header {
    padding: .5em 1em;
    font-size: 1.8rem;
    text-align: center;
}

/*INFO items style*/
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3e7c96;
    border: 1px solid darkgreen;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin: .25em .5em;
    padding: .25em .5em;
    background-color: #0fff55;
    border: 1px solid darkgreen;
}

.card__header {
    padding: .5em;
    width: 100%;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.card__info {
}
.card__body {

}
.card__body_header {

}
.card__body_text {

}

/*MENU styles*/
.navbar {
    /*display: flex;*/
    /*flex-direction: row;*/
    font-size: 1.4rem;
    /*justify-content: space-around;*/
    /*padding: .5em;*/
    font-weight: bold;
    text-transform: uppercase;
    background-color: #a856b2;
}

.navbar__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar__list_double {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.navbar__item {
    padding: 1em;
    text-align: center;
}

.navbar__item_full {
    padding: 1em;
    width: 100%;
    text-align: center;
}

.navbar__item_double {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .25em;
    width: 50%;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
}

.navbar__link_double {
    justify-content: space-evenly;
    color: #fff;
    text-decoration: none;
    flex-wrap: wrap;
}

/*TABLE styles*/
.table {
}

.table__header {
}

.table__row {
}
