*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1380px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*HEADER styles*/
.header {
    margin: 0 auto;
    width: 100%;
    background-color: #ccc;
}

.header__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    font-size: 2.2rem;
    text-align: center;
}

.header__text {
    padding: 0 2em 1em;
    font-size: 1.6rem;
    text-align: center;
}

/*MENU styles*/
.navbar {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #a856b2;
}

.navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar__list_double {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.navbar__item {
    padding: 1em;
    text-align: center;
}

.navbar__item_full {
    padding: 1em;
    width: 100%;
    text-align: center;
}

.navbar__item_double {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .25em;
    width: 50%;
    /*flex-wrap: wrap;*/
}

.navbar__link {
    color: #fff;
    text-decoration: none;
}

.navbar__link_double {
    justify-content: space-evenly;
    color: #fff;
    text-decoration: none;
    flex-wrap: wrap;
}

/*DASHBOARD styles*/
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__header {
}

.dashboard__header_head {
    font-size: 1.8rem;
}

.dashboard__header_text {
}

.dashboard__content {
}

.dashboard__content_text {
}

.dashboard__buttons {
}

/*BUTTON styles*/
.button {
}

.button__link {
}

/*FORM styles*/
.email {
}

.email__label {
}

.email__input {
}
.password {
}

.password__label {
}

.password__input {
}
.name {
}

.name__label {
}

.name__input {
}
.surname {
}

.surname__label {
}

.surname__input {
}
.street {
}

.street__label {
}

.street__input {
}
.street__input_name {
}
.street__input_number {
}
.street__input_local {
}
.code{

}
.code__label{

}
.code__input{

}
/*INFO styles*/
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f0ff55;
    border: 1px solid darkgreen;
}

.info__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info__header {
    padding: .5em 1em;
    font-size: 1.6rem;
    text-align: center;
}

/*CARD style*/
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4em 0;
    background-color: #3e7c96;
    border: 1px solid darkgreen;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin: .25em .5em;
    padding: .25em .5em;
    width: 200px;
    background-color: #0fff55;
    border: 1px solid darkgreen;
}

.card__header {
    padding: .5em;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    padding: .25em .5em;
    flex-wrap: wrap;
}

.card__body_header {
    padding: .25em .5em;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.card__body_text {
    display: flex;
    justify-content: space-between;
    padding: .25em 0;
    width: 100%;
    font-size: 1.2rem;
}

.card__body_month {
    font-style: italic;
}

.card__body_value {
    font-weight: bold;
}

/*TABLE styles*/
.table {
}

.table__header {
}

.table__row {
}

/*LOGIN styles*/
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*FOOTER styles*/
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: .8rem;
    color: ghostwhite;
    background-color: dimgray;
}

.footer__paragraph {
    padding: .5em .25em;
    text-align: center;
}

.footer_bold {
    font-weight: bold;
}

.footer_link {
    padding: .5em .25em;
    color: navajowhite;
    cursor: pointer;
}
